body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #393E48;
}
button {
  background-color: transparent;
  border: none;
}
button:focus {
  outline: none;
}
button:hover {
  cursor: pointer;
}
.header {
  height: 50px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  background-color: #20232A;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header__logo {
  height: 25px;
  position: relative;
  top: 12px;
  margin-right: 10px;
}
.header p {
  flex-grow: 2;
  margin: 0;
  font-size: 20px;
  line-height: 48px;
  font-size: 20px;
  color: #61DAFB;
  font-weight: 500;
}
.header a {
  margin-left: 20px;
  color: #DDD;
  font-size: 26px;
  line-height: 50px;
}
.header a:hover {
  color: #61DAFB;
}
.demo {
  position: relative;
  overflow: hidden;
  padding: 20px 20px 80px;
  background-color: #282C34;
  text-align: center;
}
.demo h1 {
  text-align: center;
  color: #61DAFB;
  font-weight: 500;
  margin: 50px auto 15px;
  font-size: 2.75em;
}
.demo h1 span {
  color: #DDD;
  font-weight: normal;
}
.demo__toggle button {
  padding: .35em 0;
  width: 75px;
  background-color: #DDD;
  color: #21242B;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
}
.demo__toggle button:hover {
  background-color: white;
}
.demo__toggle button.active,
.demo__toggle button.active:hover {
  background-color: #58C1DE;
  color: white;
  pointer-events: none;
}
.demo__toggle--left {
  border-radius: 5px 0 0 5px;
}
.demo__toggle--right {
  border-radius: 0 5px 5px 0;
}
.demo__buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 750px;
  margin: 30px auto;
}
.demo__button {
  padding: .5em 0;
  width: 180px;
  background-color: #DDD;
  color: #21242B;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1em;
  border-radius: 2px;
  margin: 15px 20px;
}
.demo__button:hover {
  background-color: white;
}
.demo__button.active, demo__button.active:hover {
  background-color: #58C1DE;
  color: white;
  pointer-events: none;
}
.details {
  color: #21242B;
  background-color: #FAFAFA;
  padding: 50px 20px 80px;
}
.details__readme {
  position: relative;
  width: 100%;
  max-width: 980px;
  margin: auto;
  border: 1px solid #DDD;
  background-color: white;
  border-radius: 5px;
}
.details__header {
  padding: 9px 20px 10px;
  background-color: #F6F8FA;
  font-weight: bold;
  color: #292C34;
  font-size: 1em;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #DDD;
}
.details__header i {
  margin-right: 10px;
}
.details__markdown {
  padding: 20px 45px 45px;
}
.details__markdown h1, .details__markdown h2 {
  font-size: 2em;
  font-weight: 500;
  padding-bottom: .35em;
  border-bottom: 1px solid #EEE;
}
.details__markdown h2 {
  margin-top: 40px;
  font-size: 1.5em;
}
.details__markdown p {
  line-height: 2;
}
.details__markdown pre {
  background-color: #F6F8FA;
  padding: 16px;
}
.details__markdown code {
  background-color: #F6F8FA !important;
  font-size: 14px;
  line-height: 20px;
  padding: 2px 5px;
}
.details__markdown a {
  color: #0366d6 !important;
  text-decoration: none;
}
.details__markdown a:hover {
  text-decoration: underline;
}
.details__markdown li {
  margin-bottom: 10px;
}
.details__markdown table {
  margin: 40px 0;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}
.details__markdown thead {
  text-align: center;
}
.details__markdown tr {
  background: white;
}
.details__markdown tr:nth-child(2n) {
  background-color: #F6F8FA;
}
.details__markdown th {
  font-weight: 500;
}
.details__markdown th, .details__markdown td {
  border: 1px solid #DFE2E5;
  padding: 9px 13px;
  line-height: 1.75;
}
.details__markdown td code {
  background-color: rgba(27,31,35,0.05) !important;
}