body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #393E48;
}
* {
  box-sizing: border-box;
}
button:focus {
  outline: none;
}
button:hover {
  cursor: pointer;
}
.header {
  height: 50px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  background-color: #20232A;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header__logo {
  height: 25px;
  position: relative;
  top: 12px;
  margin-right: 10px;
}
.header p {
  flex-grow: 2;
  margin: 0;
  font-size: 20px;
  line-height: 48px;
  font-size: 20px;
  color: #61DAFB;
  font-weight: 500;
}
.header a {
  margin-left: 20px;
  color: #DDD;
  font-size: 26px;
  line-height: 50px;
}
.header a:hover {
  color: #61DAFB;
}
.demo {
  position: relative;
  overflow: hidden;
  padding: 20px 50px 80px;
  background-color: #282C34;
  text-align: center;
}
.demo h1 {
  text-align: center;
  color: #61DAFB;
  font-weight: 500;
  margin: 50px auto 15px;
  font-size: 2.75em;
}
.demo h1 span {
  color: #DDD;
  font-weight: normal;
}
.demo__options {
  max-width: 1000px;
  margin: 20px auto;
}
.demo__fieldset {
  margin: 0 -20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.demo__fieldset > * {
  margin: 15px 0;
  flex-basis: 33%;
  flex-grow: 1;
}
.demo__field {
  padding: 0 20px;
  display: flex;
  min-width: 300px;
}
.demo__field > * {
  flex-grow: 1;
}
.demo__field label {
  flex-grow: 0;
  line-height: 36px;
  margin-right: 10px;
  color: white;
}
.demo__field input {
  padding: .375em .75em;
  font-size: 1em;
  line-height: 1.5;
  color: #292C34;
  background-color: #DDD;
  border: 1px solid #BBB;
  border-radius: 3px;
  transition: all .25s ease-in-out;
}
.demo__field input:focus {
  outline: none;
  background-color: #FAFAFA;
}
.demo__field input::placeholder {
  color: #636A71;
}
.demo__button--submit {
  width: 180px;
  padding: .5em 0;
  background-color: #58C1DE;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.1em;
  border-radius: 2px;
  border: none;
  transition: all .25s ease-in-out;
}
.demo__button--submit:hover {
  cursor: pointer;
  background-color: #4EA3BD;
}
.demo__button--submit:focus {
  outline: none;
}
.demo__errors {
  margin-bottom: 30px;
  padding: 10px;
  background-color: #FFB9AE;
  border: 2px solid #DA6856;
  color: #962715;
  border-radius: 3px;
}
.details {
  color: #21242B;
  background-color: #FAFAFA;
  padding: 50px 20px 80px;
}
.details__readme {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  border: 1px solid #DDD;
  background-color: white;
  border-radius: 5px;
}
.details__header {
  padding: 9px 20px 10px;
  background-color: #F6F8FA;
  font-weight: bold;
  color: #292C34;
  font-size: 1em;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #DDD;
}
.details__header i {
  margin-right: 10px;
}
.details__markdown {
  padding: 20px 45px 45px;
}
.details__markdown h1, .details__markdown h2 {
  font-size: 2em;
  font-weight: 500;
  padding-bottom: .35em;
  border-bottom: 1px solid #EEE;
}
.details__markdown h2 {
  margin-top: 40px;
  font-size: 1.5em;
}
.details__markdown p {
  line-height: 2;
}
.details__markdown pre {
  background-color: #F6F8FA;
  padding: 16px;
}
.details__markdown code {
  background-color: #F6F8FA !important;
  font-size: 14px;
  line-height: 20px;
  padding: 2px 5px;
}
.details__markdown a {
  color: #0366d6 !important;
  text-decoration: none;
}
.details__markdown a:hover {
  text-decoration: underline;
}
.details__markdown li {
  margin-bottom: 10px;
}
.details__markdown table {
  margin: 40px 0;
  text-align: left;
  border-collapse: collapse;
  width: 100%;
}
.details__markdown thead {
  text-align: center;
}
.details__markdown tr {
  background: white;
}
.details__markdown tr:nth-child(2n) {
  background-color: #F6F8FA;
}
.details__markdown th {
  font-weight: 500;
}
.details__markdown th, .details__markdown td {
  border: 1px solid #DFE2E5;
  padding: 9px 13px;
  line-height: 1.75;
}
.details__markdown td code {
  background-color: rgba(27,31,35,0.05) !important;
}