/*  STYLES TO MOVE INTO COMPONENT  */

.sidebar__menu {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 2.5em 1.5em 0;
  z-index: 1100;
}

.sidebar__btn-open, .sidebar__btn-close {
  border: 0;
  background: none;
  color: white;
}

.sidebar__btn-open:hover, .sidebar__btn-close:hover {
  color: #61DAFB;
  cursor: pointer;
}

.sidebar__btn-open:focus, .sidebar__btn-close:focus {
  outline: none;
}

.sidebar__btn-open {
  font-size: 2em;
}

.sidebar__btn-close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1em;
  margin: .75em;
}

.sidebar__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
}


/*  STYLES TO KEEP HERE  */

.sidebar__menu {
  background-color: #464D59;
  width: 300px;
}

.sidebar__btn-open {
  position: relative;
  font-size: 2.5em;
  margin-bottom: 15px;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.sidebar__nav a, .sidebar__nav a:visited, .sidebar__nav a:active {
  font-size: 1.15em;
  padding: .75em;
  color: white;
  text-decoration: none;
}
.sidebar__nav a:hover {
  color: #61DAFB;
}
.sidebar__nav i {
  margin-right: 1em;
}